extends layout

block content
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      a.navbar-brand(href='#') Red de Bicicletas
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Sign Up
          li.nav-item
            a.nav-link(href='#') Log In
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Red Bicicletas
        h2.masthead-subheading.mb-0 La primera comunidad online de ciclista urbanos
        a.btn.btn-primary.btn-lg.rounded-pill.mt-5(href='/bicicletas') Ver Bicicletas
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
  section
    .container.mt-5
      #main_map
     
  // Footer
  footer.py-5.bg-black
    .container
      p.m-0.text-center.text-white.small Copyright &copy; Bicicletas 2019
    // /.container
  // Bootstrap core JavaScript
  script(src='/javascripts/jquery/jquery.min.js')
  script(src='/javascripts/bootstrap/js/bootstrap.bundle.min.js')
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')
  script(src='/javascripts/map.js')
