extends ../layout

block content
    br
    a.mt-5.ml-5(href='/bicicletas') Regresar
    br
    br
    h1.ml-5 Nueva Bicicleta 
    
    br

    form(action='/bicicletas/create' method='post').m-5
      .form-row
        .col-md-3.mb-3   
          label(for="id") ID: 
          input.ml-1(type="text" name='id')
          br
      .form-row
        .col-md-3.mb-3
          label(for="color") Color:
          input.ml-1(type="text" name='color')
          br
        .col-md-3.mb-3
          label(for="modelo") Modelo:
          input.ml-1(type="text" name='modelo')
          br
      .form-row
        .col-md-3.mb-3
          label(for="lat") Latitud:
          input.ml-1(type="text" name='lat')
          br
        .col-md-3.mb-3
          label(for="lng") Longitud:
          input.ml-1(type="text" name='lng')
          br
          br
      button.btn.btn-primary(type='submit') Agregar

       