extends ../layout

block content
    br
    .row
      .col-8
        a.mt-5.ml-5(href='/bicicletas/create') Nueva Bicicleta
      .col-2
       a.mt-5.ml-5(href='/') Home
    br
    br
    table.table
      thead.thead-dark
        tr
         th(scope='col') #
         th(scope='col') Color
         th(scope='col') Modelo
         th(scope='col') Ubicación
         th(scope='col') 
         th(scope='col')
      tbody
        each bici in bicis
         tr
          th(scope='row')= bici.id
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a.btn.btn-info.btn-sm(href= 'bicicletas/' + bici.id + '/update')= 'Actualizar'
          td
            form.form-inline(action='bicicletas/'+bici.id+'/delete' method='post')
              input(type='hidden' name='id' value=bici.id)
              button.btn.btn-danger.btn-sm(type='submit' name='submit_param' value='submit_value')= 'Eliminar'

    
