extends ../layout

block content
    br
    a.mt-5.ml-5(href='/bicicletas') Regresar
    br
    br
    h1.ml-5 Actualizar Bicicleta 
    
    br

    form(action=`/bicicletas/${bicis.id}/update` method='post').m-5
      .form-row
        .col-md-3.mb-3   
          label(for="id") ID: 
          input.ml-1(type="text" name='id' value=bicis.id)
          br
      .form-row
        .col-md-3.mb-3
          label(for="color") Color:
          input.ml-1(type="text" name='color' value=bicis.color)
          br
        .col-md-3.mb-3
          label(for="modelo") Modelo:
          input.ml-1(type="text" name='modelo' value=bicis.modelo)
          br
      .form-row
        .col-md-3.mb-3
          label(for="lat") Latitud:
          input.ml-1(type="text" name='lat' value = bicis.ubicacion[0])
          br
        .col-md-3.mb-3
          label(for="lng") Longitud:
          input.ml-1(type="text" name='lng' value = bicis.ubicacion[1])
          br
          br
      button.btn.btn-primary(type='submit') Actualizar